body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

}

.paragraph {
    background-image: url(https://media.istockphoto.com/id/479767332/photo/idyllic-home-with-covered-porch.jpg?s=612x612&w=0&k=20&c=noFe8bNIsnAoGNJXMepSVVrNGhEior2Y0wZcROB94Uw=);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

    padding-top: 10%;
    padding-bottom: 10%;
}

nav {
    background-color: #8BC34A; /* Light Green */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    transform-style: underline;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #8BC34A; /* Light Green */
    font-family: inherit;
    margin: 0;
}

.nav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.nav-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .nav-content {
    display: block;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

.phone {
    color:#555;
    font-size: 11px;

    position:absolute;
    top: 0.5%;
    right: 71%;

    cursor: pointer;
}

#contact {
    float: left;
    display: block;
    color: white;
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: -3%;
    
    position: absolute;
    bottom: 98.25%;
    left: 13.8%
}

#p {
    text-align: center;
    font-family: sans-serif;
    font-size: 250%;
    color: white;
}

.btns {
    text-align: center;

    display: flex;
    justify-content:space-between;
}

.homeBtn {
    padding: 15%;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;

    background-image: url(https://www.lawnbuddies.com/hubfs/LawnBuddies_November2020/Images/lawn-care-services.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    border: 2px solid;
    border-radius: 20%;

    color: transparent;

    cursor: pointer;
}

.availabilityBtn {
    padding: 15%;
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;

    background-image: url(https://s.yimg.com/ny/api/res/1.2/fXngd11tyAupPNhCBs.DqA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNw--/https://s.yimg.com/os/creatr-uploaded-images/2023-04/4d85d870-df92-11ed-bfff-59ba714d7872);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    border: 2px solid;
    border-radius: 20%;

    color: transparent;

    cursor: pointer;
}

.btnInfo {
    text-align: center;

    display: flex;
    justify-content:space-between;
}

.homeInfo {
    font-size: 280%;
    font-family: sans-serif;
    text-decoration: underline;

    margin-left: 21%;
    margin-top: -10%;

    cursor: pointer;
}

.availabilityInfo {
    font-size: 280%;
    font-family: sans-serif;
    text-decoration: underline;

    margin-right: 17.5%;
    margin-top: -10%;

    cursor: pointer;
}